.additional{
  text-align: center;
  color: blueviolet;
}

.additional .hidden{
  display: none;
}

.additional .visible{
  display: "";
}





.additionals {
  /* vuestro CSS aquí */
    
}

.additional.hidden {
  /* vuestro CSS aquí */
   
}

.additional.visible {
  /* vuestro CSS aquí */
} 